{
  "presets": [
    ["@babel/preset-env", {
      "targets": {
        "node": "8.3.0"
      }
    }]
  ],

  "plugins": [
    ["@babel/plugin-proposal-decorators", {
      decoratorsBeforeExport: true
    }],

    "@babel/plugin-proposal-class-properties",
    "@babel/plugin-proposal-throw-expressions",
    "@babel/plugin-proposal-private-methods",
    "@babel/plugin-transform-flow-comments",
    "@babel/plugin-proposal-logical-assignment-operators"
  ]
}
